pre {
  padding: 1rem;
  background-color: lightgray;
}

.app__header {
  background-color: #222;
  padding: 2rem;
  color: white;
}

.app__content {
  font-size: large;
  padding: 2rem;
}

.app__load-button {
  background-color: #ddd;
  border: 2px solid #bbb;
  border-radius: 0.5rem;
  padding: 1rem;
  color: black;
  cursor: pointer;
}

.app__load-button:hover {
  background-color: #eee;
}